.footer-stripe {
  box-sizing: border-box;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(63, 63, 63);
  color: var(--second-text-color);
  align-items: center;
  justify-content: end;
  padding: .5rem 2rem;
}

.social-media-container {
  height: 60px;
}
