@media screen and (max-width: 768px) {
  .neck-map{
    max-width: 100vw;
    padding-left: 0;
    padding-right: 0;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}
}
