.string {
  width: 100%;
}

.open-string {
  transform: translateX(-8px);
  -webkit-transform: translateX(-8px);
  -moz-transform: translateX(-8px);
  -ms-transform: translateX(-8px);
  -o-transform: translateX(-8px);
}
