.neck-bg {
  z-index: 1;
}

.nut {
  grid-area: 1 / 1 / span 6 / span 1;
  z-index: 2;
  display: flex;
  justify-content: end;
}

.fret{
  z-index: 3;
  display: flex;
  justify-content: end;
}

.string{
  z-index: 4;
  display: flex;
  margin-left: -16px;
}

.fretboard {
  min-height: 100px;
  min-width: 600px;
  position: relative;
  padding-left: 2rem;
}


@media screen and (max-width: 768px) {
  .fretboard{
    justify-self: start;
    align-self: flex-start;
    transform: translateX(calc(50vw - 125px));
    -webkit-transform: translateX(calc(50vw - 125px));
    -moz-transform: translateX(calc(50vw - 125px));
    -ms-transform: translateX(calc(50vw - 125px));
    -o-transform: translateX(calc(50vw - 125px));
}
}
