.fretboard {
  min-height: 100px;
  min-width: 600px;
  position: relative;
  justify-self: center;
  align-self: center;
  margin-left: 1rem;
}

.frets {
  position: absolute;
  height: 100%;
}

.strings {
  position: relative;
  z-index: 1;
}

