<header class="flex flex-center header-bg">
  <nav class="nav-container">
    <ul class="flex flex-row flex-gap-4">
      <li class="pointer"><a class="link-text hover-box" routerLinkActive="link-active" routerLink="home">Home</a></li>
      <li class="pointer"><a class="link-text hover-box" routerLinkActive="link-active" routerLink="/app">Fretboard</a></li>
      <li class="pointer"><a class="link-text hover-box" routerLinkActive="link-active" routerLink="/whats-new">What's New</a></li>
    </ul>
  </nav>
</header>
