html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
a {
  text-decoration: none;
}

:root {
  --first-text-color: #252525;
  --second-text-color: #ffffff;
  --gray: #6d6d6d;
  --light-gray: #e2e2e2;
  --guitar-neck-white: #BBA79C;
  --guitar-neck-brown: #54302E;
  --guitar-neck-ebony: #333031;
  --guitar-neck-mapple: #ECCEA4;
  --guitar-neck-purple: #7A354A;
}

* {
  color: var(--first-text-color);
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.2;
}

.tx-second {color: var(--second-text-color);}
.tx-main {color: var(--first-text-color);}

.bg-black {background-color: var(--first-text-color);}
.bg-white {background-color: var(--second-text-color);}
.bg-neck-white {background-color: var(--guitar-neck-white);}
.bg-neck-brown {background-color: var(--guitar-neck-brown);}
.bg-neck-ebony {background-color: var(--guitar-neck-ebony);}
.bg-neck-mapple {background-color: var(--guitar-neck-mapple);}
.bg-neck-purple {background-color: var(--guitar-neck-purple);}

.note-small { height: 30px; width: 30px; border-radius:15px ; -webkit-border-radius:15px ; -moz-border-radius:15px ; -ms-border-radius:15px ; -o-border-radius:15px ; }
.note-medium { height: 40px; width: 40px; border-radius:20px ; -webkit-border-radius:20px ; -moz-border-radius:20px ; -ms-border-radius:20px ; -o-border-radius:20px ; }
.note-large { height: 50px; width: 50px; border-radius:25px ; -webkit-border-radius:25px ; -moz-border-radius:25px ; -ms-border-radius:25px ; -o-border-radius:25px ; }

.page-container {
  min-height: calc(100vh - 200px);
}

.flex {display: flex;}
.flex-column{flex-direction: column;}
.flex-row{flex-direction: row;}
.flex-center{align-content: center; justify-content: center;flex-wrap: wrap;}
.flex-gap-1{gap: .5rem;}
.flex-gap-2{gap: 1rem;}
.flex-gap-3{gap: 1.5rem;}
.flex-gap-4{gap: 2rem;}
.flex-gap-5{gap: 2.5rem;}
.flex-gap-6{gap: 3rem;}

.align-center{align-items: center;}
.align-start{align-items: start;}
.align-end{align-items: end;}
.align-stretch{align-items: stretch;}

.justify-center{justify-items: center;}
.justify-start{justify-items: start;}
.justify-end{justify-items: end;}
.justify-stretch{justify-items: stretch;}

.space-between{justify-content: space-between;}
.space-around{justify-content: space-around;}

.content-start{justify-content: start;}
.content-center{justify-content: center;}
.content-end{justify-content: end;}

.pointer {cursor: pointer;}
