.context-menu {
  padding: .5rem;
  min-width: 120px;
  background-color: white;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  box-shadow: -3px 2px 15px 2px rgba(0,0,0,0.29);
  -webkit-box-shadow: -3px 2px 15px 2px rgba(0,0,0,0.29);
  -moz-box-shadow: -3px 2px 15px 2px rgba(0,0,0,0.29);
}
